
.DS_Store

.idea/
.vscode/
build/
dist/
pyneval.egg-info/
output/
pyneval/__pycache__/
pyneval/cli/__pycache__/
pyneval/io/__pycache__/
pyneval/metric/__pycache__/
pyneval/metric/utils/__pycache__/
pyneval/metric/utils/klib/__pycache__/
pyneval/model/__pycache__/
pyneval/tools/__pycache__/
pyneval/errors/__pycache__/
pyneval/tools/optimize/__pycache__/
config/metric_config/
config/metric_schemas/

test_data/